.start {
  
}
.startBtn {
 z-index: 1;
 position: relative;
 text-decoration: none;
 color: white;
}
@keyframes helloBtn{
  0% { opacity: 0; }
  80% {opacity: 0;}
  100% {opacity: 1; }
}

.helloWorld {
  width: 400px;
  height: 400px;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: auto;
  animation: helloBtn 9.5s forwards;
  transform: translate(25%,70%);
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;

}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  font-family: "Aldrich";
}

body {
    background-color:#000000;
    text-align: center;
    margin: 0;
}
nav{
    background-color: #3f3f3f;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
nav a{
    text-decoration: none; 
    color: white; 
    font-size: 20px;
    font-weight: bold; 
    padding: 10px 15px; 
    margin: 0 10px; 
    font-family: "Aldrich";
    opacity: 50%;
}
nav a:hover {
    background-color: #f0f0f0;
    color: #0F90B8; 
    border-radius: 5px; 
    opacity: 100%;
}
h1{
    color:white;
    font-family: "Aldrich";
    font-size: 112px;
}
.name {
  display: flexbox;
  position: relative;
  top: 277px;
  z-index: 1;
  height: 0;
  margin: auto;
  transform: translate(2px,0);
}
.name h1 {
  color: white;
  display: inline;
}
#typewriter h1{
  position: relative;
  top:277px;
  margin: auto;
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #0F90B8; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
#typewriter h3{
  color: white;
  position: relative;
  top:277px;
  margin: auto;
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .3em solid #0F90B8; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
  typing1 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
  animation-delay: 4s;
  animation-fill-mode: both;
  transform: translate(0%,100%);
}

@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

@keyframes typing1 {
  from { width: 0 }
  to { width: 29% }
  0% { opacity: 0; }
  1% { opacity: 1; }
  80% {opacity: 1; }
  100% {opacity: 0; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0F90B8 }
}
h2{
    color: white;
    margin:0px;
    padding-bottom: 100px;
    font-family: "Patrick Hand SC";
    font-size: 30px;
}
hr{
    color: black;
    border-bottom: none;
    border-top: none;
    margin: 0px;
}
footer{
    background-color: #737373;
    padding: 10px;
    display: flex;
    justify-content: center;
    padding: 300px;
    background-position: center;
    background-image: url(../images/footerImage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
footer a{
    position:absolute;
    bottom: 10px;
    left: 45%;
    text-decoration: none; 
    color: white; 
    font-size: 20px;
    font-weight: bold; 
    padding: 10px 15px; 
    margin: 0 10px; 
}
footer a:hover {
    background-color: #f0f0f0;
    color: #0F90B8; 
    border-radius: 5px; 
}
div.cloud1{
    position: absolute;
    top: 80px;
    left: 100px;
    border: 0px solid black;
}
div.cloud2{
    position: absolute;
    top: 80px;
    right: 100px;
    border: 0px solid black;
}
.intro{
    position: relative;
    background-color: rgb(35, 38, 39);
    padding: 100px 0 400px 0;
    background-image: url(../images/BgImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.placeholder {
  opacity: 0;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
.intro h2{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}
.intro p{
  font-size: 20px;
  font-family: "Patrick Hand SC";
  color: white;
}
.headshot{
  border-radius: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.content{
    background-color: black;
}
.content h2{
  color: #ffffff;
  font-size: 50px;
}
.welcome{
    padding: 5px 0px 0px 0px;
}

  
  .scroller {
    height: 34px;
    line-height: 34px;
    position: relative;
    overflow: hidden;
    width: 120px;
    display: inline-block;
  }
  .scroller span {
    position: absolute;
    top: 0;
    left:0;
    animation: slide 8s infinite;
    font-weight: bold;
    color: #0F90B8;
    font-family: "Patrick Hand SC";
    font-size: 30px;
    line-height: 34px;
    padding-left: 5px;
    
  }
  @keyframes slide {
    0% {
      top: 4px;
    }
    25% {
      top: -30px;
    }
    50% {
      top: -64px;
    }
    75% {
      top: -98px;
    }
} 

.Experience {
  display: flex;
  margin: auto;
  width: 1190px;
}
.expImg {
  display: inline;
  width: 60px;
  height: 60px;
  padding-left: 0px;
  position: relative;
  z-index: 1;
}
.webRectangleB {
  position: relative;
  top: 0;
  left: 220px;
  transform: translate(-63%, -70%);
  width: 220px;
  height: 40px;
  background-color: #0F90B8; /* Change the color as needed */
  
}
.webRectangleP {
  position: relative;
  top: 0;
  left: 220px;
  transform: translate(-55%, -70%);
  width: 250px;
  height: 40px;
  background-color: #a915c7; /* Change the color as needed */
  
}
.webRectangleR {
  position: relative;
  top: 0;
  left: 220px;
  transform: translate(-75%, -70%);
  width: 190px;
  height: 40px;
  background-color: #ff0000; /* Change the color as needed */
  
}
.Experience h2 {
  font-family: "Aldrich";
  color: white;
  text-align: center;
  padding: 20px;
  width: 300px;
  display: inline;
  position: relative;
  z-index: 1;
}
.Experience h3 {
  font-family: "Aldrich";
  position: relative;
  margin: 0px;
  transform: translate(5%, -95%);
  font-size: 28px;
  padding-left: 70px;
}
.card1 {
  color: #fff;
  margin: auto;
  width: 400px;
  height: 600px;
  border: 5px solid grey;
  padding: 20px;
  border-right: 0px;
  align-items: center;
  display: inline-block;
  text-align: left;
}
.card2 {
  color: #fff;
  margin: auto;
  width: 400px;
  height: 600px;
  border: 5px solid grey;
  padding: 20px;
  border-right: 0px;
  display: inline-block;
  text-align: left;
}
.card3 {
  color: #fff;
  margin: auto;
  width: 400px;
  height: 600px;
  border: 5px solid grey;
  padding: 20px;
  display: inline-block;
  align-items: start;
  text-align: left;
}
.webH3 {
  color: grey;
  font-size: 20px;
  font-family: "Aldrich";
  display: inline;
}
.vl {
  border-right: 3px solid grey;
  height: 300px;
  display: inline-block;
  padding-left: 22px;
}
.expContent {
  display: inline-block;
  padding-left: 30px;
  font-family: "Patrick Hand SC";
  font-size: 24px;
  margin: 0;
  max-width: 200px;
  position: relative;
  bottom: 40px;
  text-align: left;
}
.ExpCard {
  position: relative;
  width: 1150px;
  height: 607px;
  color: #fff;
  background: transparent;
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin: auto;
  transform: translate(0%, -101%);
}

p {
  font-size: 0.95rem;
  text-align: center;
}

.ExpCard span {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(106,15,184,0.5),
    rgb(106,15,184)
  );
}

.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.5),
    rgb(255,255,255),
    transparent 50%
  );
}

.right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    transparent 30%,
    rgb(255, 0, 0),
    rgba(255, 0, 0, 0.5)
  );
}

.left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    #0F90B8,
    #0F90B8,
    transparent 70%
  );
}

.top {
  animation: animateTop 8s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 8s ease-in-out infinite;
}

.right {
  animation: animateRight 8s ease-in-out infinite;
}

.left {
  animation: animateLeft 8s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

.mySkills {
  display: inline-block;
  text-align: left;
  position: relative;
  width: 1000px;
  transform: translate(0%,-40%);
}

.mySkills h2 {
  padding: 0;
}

.mySkills h3 {
  color: white;
  max-width: 400px;
  font-family: "Patrick Hand SC";
  font-size: 26px;
  font-weight: normal;
}
.resume {
  color: white;
  font-family: "Patrick Hand SC";
  font-size: 26px;
  display: inline-block;
  max-width: 100px;
}

.container {
  position: relative;
  display: inline-block;
  left: 60%;
  transform: translate(10%,-90%);
}

.content2 {
  position: relative;
  width: 400px;
  height: 400px; 
  overflow: hidden;
}

.track {
  position: absolute;
  width:400px;
  height:5px;
  background-color: #333;
  top:300px;
}

.track:before {
  content:"";
  position: absolute;
  width:10px;
  height:5px;
  background-color: #333;
  top:4px;
  box-shadow: 20px 0 #333, -20px 0 #333, -40px 0 #333, -60px 0 #333, -80px 0 #333, 40px 0 #333, 60px 0 #333, 80px 0 #333, 100px 0 #333, 120px 0 #333, 140px 0 #333, 160px 0 #333, 180px 0 #333, 200px 0 #333, 220px 0 #333, 240px 0 #333, 260px 0 #333, 280px 0 #333, 300px 0 #333, 320px 0 #333, 340px 0 #333, 360px 0 #333, 380px 0 #333, 400px 0 #333, 420px 0 #333, 440px 0 #333, -100px 0 #333, -120px 0 #333, -140px 0 #333, 460px 0 #333, 480px 0 #333;
  animation: move 1s linear infinite reverse;
}

@keyframes move {  
  from { left: -100px; }
    to { left: 100px; }
}

.train {
  position: absolute;
  width: 50px;
  height: 30px;
  border:5px solid #333;
  background-color: #ff0004;
  border-radius:0 10px 0 0;
  top:230px;
  left:285px;
  animation: scale 1s linear infinite;
}

@keyframes scale {
  0% {transform: scaleY(1);}
  50% {transform: scaleY(0.99);}
  100% {transform: scaleY(1);}
}

.train:before {
  content:"";
  position: absolute;
  border:5px solid #333;
  background-color: #0F90B8;
  width:35px;
  height:60px;
  left:-45px;
  top:-35px;
}

.train:after {
  position: absolute;
  content:"";
  width: 100px;
  height:5px;
  border-radius:10px;
  border: 5px solid #333;
  background-color: #8502ff;
  top:30px;
  left:-50px;
}

.front {
  position: absolute;
  border: 5px solid #333;
  background-color: #aed9e0;
  box-shadow: inset 2px -5px rgba(255,255,255,0.3);
  width:20px;
  height:30px;
  left:-37.5px;
  top:-20px;
}

.front:before {
  content:"";
  position: absolute;
  background-color: #333;
  width:15px;
  height:5px;
  border-radius:10px;
  top: 25px;
  left:70px;
  box-shadow: 0px 10px #333, -50px -45px #333, -86px -45px #333, -22px -41px #333,-11px -41px #333;
}

.front:after {
  content:"";
  position: absolute;
  width:12px;
  height:20px;
  border: 5px solid #333;
  left:50px;
  top:-16px;
  background-color:#adb5bd;
}

.wheels {
  position: absolute;
  z-index:1;
}

.smallOne, .smallTwo, .smallThree, .smallFour, .smallFive, .smallSix {
  position: absolute;
  border: 5px solid #333;
  border-radius:50%;
  width: 15px;
  height:15px;
  top:40px;
  background-color: #858585;
  box-shadow: inset 2px 2px white;
  z-index:2;
}

.smallOne {
  left: 30px;
  animation: spin .5s infinite linear;
}

.smallTwo {
  left:0;
  animation: spin .5s infinite linear;
}

.smallThree {
  left:-225px;
  animation: spin .5s infinite linear;
}

.smallFour {
  left:-190px;
  animation: spin .5s infinite linear;
}

.smallFive {
  left:-130px;
  animation: spin .5s infinite linear;
}

.smallSix {
  left:-95px;
  animation: spin .5s infinite linear;
}

.big {
  position: absolute;
  border: 5px solid #333;
  border-radius:50%;
  width:25px;
  height:25px;
  background-color: #6b6b6b;
  box-shadow: inset 2px 2px white;
  top:30px;
  left:-40px;
  animation: spin .5s infinite linear;
}

.cord {
  position: absolute;
  width: 10px;
  height:5px;
  background-color: #333;
  top:35px;
  left:-59px;
  z-index:3;
}

.cord:before {
  content:"";
  position: absolute;
  height:5px;
  width: 70px;
  background-color: #333;
  top:15px;
  left:35px;
}

.cord:after {
  content:"";
  position: absolute;
  background-color: #333;
  border-radius:50%;
  width:15px;
  height:15px;
  top:5px;
  left:29px;
}

.coach {
  position: absolute;
  width:80px;
  height:60px;
  border:5px solid #333;
  background-color: #ff0004;
  left:-145px;
  top:-20px;
}

.coach:before {
  content:"";
  position: absolute;
  width: 10px;
  height:5px;
  background-color: #333;
  top:50px;
  left:-15px;
}

.coach:after {
  content:"";
  position: absolute;
  width:80px;
  height:60px;
  border:5px solid #333;
  background-color: #0F90B8;
  top:-5px;
  left:-100px;
}

.coachTwo {
  position: absolute;
  border:5px solid #333;
  background-color: #aed9e0;
  box-shadow: inset 2px -5px rgba(255,255,255,0.3);
  width: 15px;
  height:25px;
  left:-225px;
  top:-5px;
}

.coachTwo:before, .coachTwo:after {
  content:"";
  position: absolute;
  border:5px solid #333;
  background-color: #aed9e0;
  box-shadow: inset 2px -5px rgba(255,255,255,0.3);
  width: 15px;
  height:25px;
  top:-5px;
}

.coachTwo:before {
  left:30px;
}

.coachTwo:after {
  left:90px;
}

.windows {
  position: absolute;
  border:5px solid #333;
  background-color: #aed9e0;
  box-shadow: inset 2px -5px rgba(255,255,255,0.3);
  width: 15px;
  height:25px;
  left:-95px;
  top:-5px;
  z-index:6;
}

.windows:before {
  content:"";
  position: absolute;
  background-color: #333;
  height:5px;
  width: 95px;
  border-radius:10px;
  top:-20px;
  left:-153px;
  box-shadow: 95px 0px #333;
}

.windows:after {
  content:"";
  position: absolute;
  background-color: #333;
  height:5px;
  width:40px;
  top:51px;
  left:-125px;
  box-shadow: 95px 0 #333;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#up {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -50px;
  left: 15px;
  z-index:-1;
  background-size: cover;
}
@keyframes up {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-130px) translateX(-80px) scale(1.5);
    opacity: 0;
  }
}

#up1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 400ms;
}
@keyframes up1 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-80px) translateX(-50px) scale(1.5);
    opacity: 0;
  }
}

#up2 {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 800ms;
}
@keyframes up2 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-70px) translateX(-80px) scale(1.5);
    opacity: 0;
  }
}

#up3 {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 1200ms;
}
@keyframes up3 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-150px) translateX(-60px) scale(1.5);
    opacity: 0;
  }
}

#up4 {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 1600ms;
}
@keyframes up4 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-130px) translateX(-45px) scale(1.5);
    opacity: 0;
  }
}

#up5 {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 2000ms;
}
@keyframes up5 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-100px) translateX(-60px) scale(1.5);
    opacity: 0;
  }
}

#up6 {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 2400ms;
}
@keyframes up6 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-150px) translateX(-57px) scale(1.5);
    opacity: 0;
  }
}

#up7 {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 2800ms;
}
@keyframes up7 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-120px) translateX(-70px) scale(1.5);
    opacity: 0;
  }
}

#up8 {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 3200ms;
}
@keyframes up8 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-90px) translateX(-25px) scale(1.5);
    opacity: 0;
  }
}

#up9 {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 3600ms;
}
@keyframes up9 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-140px) translateX(-40px) scale(1.5);
    opacity: 0;
  }
}

#up10 {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 4000ms;
}
@keyframes up10 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-120px) translateX(-50px) scale(1.5);
    opacity: 0;
  }
}

#up11 {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  top: -45px;
  left: 15px;
  z-index:-1;
  background-size: cover;
  animation-delay: 4400ms;
}
@keyframes up11 {
  0%{
    transform: translateY(0) translateX(0) scale(0.5);
    opacity: 1;
  }
  20%{
    transform: translateY(-90px) translateX(-70px) scale(1.5);
    opacity: 0;
  }
}

.steam {
  animation: up 5s ease-out infinite; 
  background-image: url(../images/javascriptIcon.png);
}
.steam1 {
  animation: up1 5s ease-out infinite; 
  background-image: url(../images/html5Icon.png);
}
.steam2 {
  animation: up2 5s ease-out infinite; 
  background-image: url(../images/cssIcon.png);
}
.steam3 {
  animation: up3 5s ease-out infinite; 
  background-image: url(../images/blenderIcon.png);
}
.steam4 {
  animation: up4 5s ease-out infinite; 
  background-image: url(../images/mongodbIcon.png);
}
.steam5 {
  animation: up5 5s ease-out infinite; 
  background-image: url(../images/nodeIcon.png);
}
.steam6 {
  animation: up6 5s ease-out infinite; 
  background-image: url(../images/unityIcon.png);
}
.steam7 {
  animation: up7 5s ease-out infinite; 
  background-image: url(../images/githubIcon.png);
}
.steam8 {
  animation: up8 5s ease-out infinite; 
  background-image: url(../images/csharpIcon.png);
}
.steam9 {
  animation: up9 5s ease-out infinite; 
  background-image: url(../images/javaIcon.png);
}
.steam10 {
  animation: up10 5s ease-out infinite; 
  background-image: url(../images/reactjsIcon.png);
}
.steam11 {
  animation: up11 5s ease-out infinite; 
  background-image: url(../images/pythonIcon.png);
}

.mySlides {display: none}

.projectHeader {
  position: relative;
  transform: translate(0%,-150%);
}

/* Slideshow container */
.slideshow-container {
  width: 1600px;
  position: relative;
  margin: auto;
  display: flex;
  background-color: grey;
  height: 600px;
  opacity: 50%;
  transform: translate(0%,-45%);

  --g: 0px;     /* the gap */
  --b: 12px;    /* border thickness*/
  --c: white; /* the color */
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;

}

.slideshow-container:hover {
  --_p: 75%;
  opacity: 100%;
}

.slideshow-container img {
  height: 600px;
  object-fit: cover;
  width: 800px;
  vertical-align: middle;
  position: relative;
  transform: translate(0%, -72px);
}

.slideshowText {
  display: inline-block;
  width: 780px;
  position: relative;
  transform: translate(0%, 20%);
}
.slideshowText h2 {
  font-family: "Aldrich";
  padding-bottom: 30px;
}
.slideshowText h3 {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 28px;
  color: white;
  font-family: "Patrick Hand SC";
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}